Casos_ForenSys/
Raw/

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Logs y temporales
*.log
*.tmp
*.bak

# Archivos de configuración local sensibles
.ia_config.json

# Entorno portable y binarios desempaquetados
.env_setup_done
tools_bin/usr/
tools_bin/bin/
tools_bin/sbin/
tools_bin/etc/
tools_bin/lib/
tools_bin/share/
